version: '3.8'
services:
  tarmac-example:
    image: madflojo/tarmac:unstable
    ports:
      - 80:8080
    environment:
      - "APP_ENABLE_TLS=false"
      - "APP_LISTEN_ADDR=0.0.0.0:8080"
      - "APP_DEBUG=true"
    volumes:
      - "./functions:/functions"
