# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# SQLite DB
*.sqlite

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Coverage
coverage/

# No Swapfiles
*.swp

# Build Directory
build/

# Rust build Directory
target/

# Tarmac WASM Module Directory
module/
functions/

# Mac stuff
.DS_Store

# Ignore .wasm files
*.wasm

dist/

# Ignore vendor directories
vendor/
