name: build
permissions:
  contents: read

on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
    - name: Set up Go
      uses: actions/setup-go@0c52d547c9bc32b1aa6d1b81a0d1d2d6f05d1b1b
      with:
        go-version: '1.21'
    - name: Execute Tests
      run: make build tests-base
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@f8b27f3b3b6a0a07b42bfae8aebd56c7cc8e2b11
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  redis:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
    - name: Set up Go
      uses: actions/setup-go@0c52d547c9bc32b1aa6d1b81a0d1d2d6f05d1b1b
      with:
        go-version: '1.21'
    - name: Execute Tests
      run: make build tests-redis
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@f8b27f3b6a0a07b42bfae8aebd56c7cc8e2b11
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  cassandra:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
    - name: Set up Go
      uses: actions/setup-go@0c52d547c9bc32b1aa6d1b81a0d1d2d6f05d1b1b
      with:
        go-version: '1.21'
    - name: Execute Tests
      run: make build tests-cassandra
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@f8b27f3b6a0a07b42bfae8aebd56c7cc8e2b11
      with:
        token: ${{ secrets.CODECOV_TOKEN }}


  boltdb:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
    - name: Set up Go
      uses: actions/setup-go@0c52d547c9bc32b1aa6d1b81a0d1d2d6f05d1b1b
      with:
        go-version: '1.21'
    - name: Build Test WASM Modules
      run: make build
    - name: Execute Tests
      run: make build tests-boltdb
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@f8b27f3b6a0a07b42bfae8aebd56c7cc8e2b11
      with:
        token: ${{ secrets.CODECOV_TOKEN }}


  in-memory:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
    - name: Set up Go
      uses: actions/setup-go@0c52d547c9bc32b1aa6d1b81a0d1d2d6f05d1b1b
      with:
        go-version: '1.21'
    - name: Execute Tests
      run: make build tests-inmemory
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@f8b27f3b6a0a07b42bfae8aebd56c7cc8e2b11
      with:
        token: ${{ secrets.CODECOV_TOKEN }}


  mysql:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
    - name: Set up Go
      uses: actions/setup-go@0c52d547c9bc32b1aa6d1b81a0d1d2d6f05d1b1b
      with:
        go-version: '1.21'
    - name: Execute Tests
      run: make build tests-mysql
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@f8b27f3b6a0a07b42bfae8aebd56c7cc8e2b11
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  postgres:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
    - name: Set up Go
      uses: actions/setup-go@0c52d547c9bc32b1aa6d1b81a0d1d2d6f05d1b1b
      with:
        go-version: '1.21'
    - name: Execute Tests
      run: make build tests-postgres
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@f8b27f3b6a0a07b42bfae8aebd56c7cc8e2b11
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
