name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@4c567a1d2360bf1a0f2b51b6f27bb1d0e8d49f92
        id: release
        with:
          command: manifest
          config-file: .release-please-config.json
          manifest-file: .release-please-manifest.json
